.DS_Store
*.o
.idea/
cmake-build-debug/
libs/SDL/SDL2/build/
libs/SDL/SDL2_image/.libs/
libs/SDL/SDL2_image/IMG.lo
libs/SDL/SDL2_image/IMG_ImageIO.lo
libs/SDL/SDL2_image/IMG_WIC.lo
libs/SDL/SDL2_image/IMG_bmp.lo
libs/SDL/SDL2_image/IMG_gif.lo
libs/SDL/SDL2_image/IMG_jpg.lo
libs/SDL/SDL2_image/IMG_lbm.lo
libs/SDL/SDL2_image/IMG_pcx.lo
libs/SDL/SDL2_image/IMG_png.lo
libs/SDL/SDL2_image/IMG_pnm.lo
libs/SDL/SDL2_image/IMG_svg.lo
libs/SDL/SDL2_image/IMG_tga.lo
libs/SDL/SDL2_image/IMG_tif.lo
libs/SDL/SDL2_image/IMG_webp.lo
libs/SDL/SDL2_image/IMG_xcf.lo
libs/SDL/SDL2_image/IMG_xpm.lo
libs/SDL/SDL2_image/IMG_xv.lo
libs/SDL/SDL2_image/libSDL2_image.la
libs/SDL/SDL2_image/showimage
libs/libft/libft.a
