*.o
*/*.o
*.a
*/*.a
*.la
*/*.la
libs/libui/SDL/SDL2/Android.mk
libs/libui/SDL/SDL2/BUGS.txt
libs/libui/SDL/SDL2/CMakeLists.txt
libs/libui/SDL/SDL2/COPYING.txt
libs/libui/SDL/SDL2/CREDITS.txt
libs/libui/SDL/SDL2/INSTALL.txt
libs/libui/SDL/SDL2/Makefile
libs/libui/SDL/SDL2/Makefile.in
libs/libui/SDL/SDL2/Makefile.minimal
libs/libui/SDL/SDL2/Makefile.os2
libs/libui/SDL/SDL2/Makefile.pandora
libs/libui/SDL/SDL2/Makefile.psp
libs/libui/SDL/SDL2/Makefile.rules
libs/libui/SDL/SDL2/Makefile.wiz
libs/libui/SDL/SDL2/README-SDL.txt
libs/libui/SDL/SDL2/README.txt
libs/libui/SDL/SDL2/SDL2.spec
libs/libui/SDL/SDL2/SDL2.spec.in
libs/libui/SDL/SDL2/SDL2Config.cmake
libs/libui/SDL/SDL2/TODO.txt
libs/libui/SDL/SDL2/VisualC
libs/libui/SDL/SDL2/VisualC-WinRT
libs/libui/SDL/SDL2/VisualC.html
libs/libui/SDL/SDL2/WhatsNew.txt
libs/libui/SDL/SDL2/Xcode
libs/libui/SDL/SDL2/Xcode-iOS
libs/libui/SDL/SDL2/acinclude
libs/libui/SDL/SDL2/aclocal.m4
libs/libui/SDL/SDL2/android-project
libs/libui/SDL/SDL2/autogen.sh
libs/libui/SDL/SDL2/autom4te.cache
libs/libui/SDL/SDL2/build
libs/libui/SDL/SDL2/build-scripts
libs/libui/SDL/SDL2/cmake
libs/libui/SDL/SDL2/cmake_uninstall.cmake.in
libs/libui/SDL/SDL2/config.log
libs/libui/SDL/SDL2/config.status
libs/libui/SDL/SDL2/configure
libs/libui/SDL/SDL2/configure.in
libs/libui/SDL/SDL2/debian
libs/libui/SDL/SDL2/docs
libs/libui/SDL/SDL2/include
libs/libui/SDL/SDL2/libtool
libs/libui/SDL/SDL2/sdl2-config
libs/libui/SDL/SDL2/sdl2-config.cmake
libs/libui/SDL/SDL2/sdl2-config.cmake.in
libs/libui/SDL/SDL2/sdl2-config.in
libs/libui/SDL/SDL2/sdl2.m4
libs/libui/SDL/SDL2/sdl2.pc
libs/libui/SDL/SDL2/sdl2.pc.in
libs/libui/SDL/SDL2/src
libs/libui/SDL/SDL2/test
libs/libui/SDL/SDL2/wayland-protocols
libs/libui/sdl_config
cmake-build-debug/
libs/libui/SDL/SDL2/Makefile
libs/libui/SDL/SDL2/Makefile.rules
libs/libui/SDL/SDL2/autom4te.cache/output.1
libs/libui/SDL/SDL2/autom4te.cache/requests
libs/libui/SDL/SDL2/autom4te.cache/traces.1
libs/libui/SDL/SDL2/config.log
libs/libui/SDL/SDL2/config.status
libs/libui/SDL/SDL2/libtool
libs/libui/SDL/SDL2/sdl2-config
libs/libui/SDL/SDL2/sdl2-config.cmake
libs/libui/SDL/SDL2/sdl2.pc
libs/libui/SDL/SDL2/test/autom4te.cache/output.1
libs/libui/SDL/SDL2/test/autom4te.cache/requests
libs/libui/SDL/SDL2/test/autom4te.cache/traces.1
tst
