.DS_Store
*.o

# Regenerable local builds (retain vendored source and license files)
/rtv1
/objs/
/build/
/cmake-build-*/
/libs/libft/libft.a
/libs/libui/libui.a
/libs/libui/objs/
/libs/libui/sdl_config
/libs/libui/config.log
/libs/libui/config.status
/libs/libui/Makefile.rules
/libs/libui/sdl2-config
/libs/libui/sdl2-config.cmake
/libs/libui/sdl2.pc
/libs/libui/SDL2.spec
/libs/libui/SDL/SDL2/build/
/libs/libui/SDL/SDL2/autom4te.cache/
/libs/libui/SDL/SDL2/config.log
/libs/libui/SDL/SDL2/config.status
/libs/libui/SDL/SDL2/Makefile
/libs/libui/SDL/SDL2/Makefile.rules
/libs/libui/SDL/SDL2/libtool
/libs/libui/SDL/lib/
/libs/libui/SDL/bin/
/libs/libui/SDL/share/
/screenshot.bmp
.idea/
.vscode/
